node_modules
.next
.git
.deploy
*.log
Contrato_Desenvolvimento_Parolo_Squad_Solucoes.docx
parolo-prototipo-completo.html
logomarca.jpeg
WhatsApp Image 2026-09-04 at 17.11.56.jpeg
tsconfig.tsbuildinfo
